

  <header>

    <div class="logo">
      <img src="../assets/images/corporativo_sinfondo.png" width="190" height="129" >
    </div>


   <div  class="tutorial">

    <ul>
      <li><a [routerLink]="['/home']">Inicio</a></li>
      <li>Blog</li>
      <li>Servicios <i class="fa fa-angle-down"></i>
        <ul>
          <li>Graphic Design</li>
          <li>Website Design </li>
          <li>Python Programming</li>
          <li>PHP Programming</li>
        </ul>
      </li>
      <li>Tutorials <i class="fa fa-angle-down"></i>
        <ul>
          <li>CSS <span>12 Available</span></li>
          <li>HTML <span>9 Available</span></li>
          <li>Jade<span>3 Available</span></li>
          <li>Javascript<span>21 Available</span></li>
          <li>Design<span>37 Available</span></li>
        </ul>
      </li>
      <li>Contact</li>
      <li>Parámetros <i class="fa fa-angle-down"></i>
        <ul>

             <li><a [routerLink]="['/tipos-documento']">Tipos de Documento</a></li>
             <li>Website Design </li>
             <li>Python Programming</li>
             <li>PHP Programming</li>

        </ul>
      </li>
    </ul>

  </div>
</header>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
