body {font-family: Arial, Helvetica, sans-serif;}
table { font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
 font-size: 13px; margin: 45px; width: 480px;
 text-align: center; border-collapse: collapse; }
th { font-weight: unset; font-size: 16px; font-weight: normal; text-align: center; padding: 8px; background: #FFC107;
 border-top: 4px solid #ecb100; border-bottom: 1px solid #fff;
 color: rgb(21, 25, 32);
}
td { padding: 8px; background: #f9f9f9; border-bottom: 1px solid #bebb07ce;
 color: rgb(21, 25, 32); border-top: 1px solid transparent;text-align: center;
}
tr:hover td { background: #d0dafd; color: rgb(126, 153, 51); }

.capa-padre {
  display: table;
  height: 100px;
  width: 900px;
  margin-left: auto;
}
.capa-hijo {
  display: table-cell;
  vertical-align: middle;
}


:host ::ng-deep .p-message-custom {
  background-color: #E1CFE7;
  border: solid #8A427A;
  border-width: 0 0 0 6px;
  color: #2c1e30;
}

:host ::ng-deep .p-message-close-icon {
  color: #2c1e30;
}