
<app-header></app-header>
<br>
<p-tabView>
  <p-tabPanel header="Agregar Tipos de Documentos">

     <p-panel header="AGREGAR TIPOS DE DOCUMENTOS">
      <table>

        <div class="p-fluid p-grid">

          <div class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
                  <input name="tipodocumento" [(ngModel)]='tiposdocume.codigo' type="text" id="inputtext" pInputText maxlength="2" style="text-transform:uppercase">
                  <label for="inputtext">Tipo de Documento</label>
              </span>
          </div>
          <br><br>
          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
                <input  [(ngModel)]='tiposdocume.catego' type="text" id="inputtext" pInputText style="text-transform:uppercase" >
                <label for="inputtext">Nombre</label>
            </span>
        </div>
        <br><br>
        <div class="p-field p-col-12">
          <span class="p-float-label">
              <textarea  inputId="textarea" rows="6" cols="70" pInputTextarea ></textarea>
              <label for="textarea">Observaciones</label>
          </span>
      </div>

       <button pButton type="button" label="Guardar" (click)="realizarRegistroTiposDocumento()" ></button>

      </div>



      </table>
  </p-panel>



  </p-tabPanel>

  <p-tabPanel header="Consultar Tipos de Documentos">

    <p-panel header="LISTADO TIPOS DE DOCUMENTOS">
      <div class="capa-padre">
        <div class="capa-hijo">
      <div class="contenedor_tablas">
          <div class="tabla_generica">
                  <tr>
                    <th>IDTIDO</th>
                    <th>TIPO DE DOCUMENTO</th>
                    <th>NOMBRE</th>
                    <th>OPCIONES</th>
                  </tr>
                  <tr *ngFor= "let tiposdocs of tiposdocumentos">
                      <td>{{tiposdocs.tido_idtido}}</td>
                      <td>{{tiposdocs.tido_codigo}}</td>
                      <td>{{tiposdocs.tido_catego}}</td>

                      <td>
                        <button pButton type="button" label="Editar" (click)="eliminarTiposDocumentos()" ></button>
                        &nbsp;&nbsp;
                        <button pButton type="button" label="Eliminar" (click)="eliminarTiposDocumentos(tiposdocs.tido_idtido)" ></button>

                      </td>

                      

                  </tr>

          </div>

        </div>
      </div>
 </div>
  </p-panel>





  </p-tabPanel>



</p-tabView>


